# Data Science Tools and Ecosystem

This notebook provides an overview of the data science tools and ecosystem.

**Objectives:**
* Commonly used languages in data science
* Data sciences libraries
* Data science tools
* Arithmetic expressions in Python

The commonly used languages in data science are:
1. SQL
2. R
3. Python
4. Scala

Some commonly used data sciences libraries are:
1. TensorFlow
2. NumPy
3. Pandas
4. Matplotlib
5. Keras
6. SciKit-Learn
7. PyTorch

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|Visual Studio Code (VS Code)|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This is a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print(str(hours) + " hours")

3.3333333333333335 hours

## Author
Onuoha Chidera A.